<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jp.buddhisms"
     >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- ACM permission setting start -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <!-- ACM permission setting end -->

    <application
        android:name="com.jp.buddhisms.MYJPAPP"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.MainActivity"

            android:theme="@style/AppTheme.NoActionBar">
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ViewerActivity"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activities.BookListActivity"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activities.InfomationActivity"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activities.LifeActivity"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>

        <!-- ACM service setting start -->
        <service
            android:name="com.rankey.android.acm.launcher.LauncherService"
            android:enabled="true"
            android:exported="true"
            android:label="acm lc service"
            android:process="com.rankey.android.acm" />

        <receiver
            android:name="com.rankey.android.acm.launcher.LauncherReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="acm lc receiver"
            android:process="com.rankey.android.acm" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.rankey.android.acm.collector.CollectorService"
            android:enabled="true"
            android:exported="false"
            android:label="acm clt service"
            android:process="com.rankey.android.acm" />

        <service
            android:name="com.rankey.android.acm.sender.SenderService"
            android:enabled="true"
            android:exported="false"
            android:label="acm sd service"
            android:process="com.rankey.android.acm" />

        <activity
            android:name="com.rankey.android.acm.launcher.activity.UsageAccessSettingsActivity"
            android:enabled="true"
            android:exported="false"
            android:label="UsageAccessSettings"
            android:theme="@android:style/Theme.Dialog" />

        <!--<activity-->
            <!--android:name="com.rankey.android.acm.launcher.activity.UsageAccessConfigActivity"-->
            <!--android:enabled="true"-->
            <!--android:exported="false"-->
            <!--android:label="UsageAccessConfig"-->
            <!--android:theme="@android:style/Theme.Dialog">-->

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.USAGE_ACCESS_CONFIG"/>-->
            <!--</intent-filter>-->

            <!--<meta-data android:name="android.settings.metadata.USAGE_ACCESS_REASON" android:value="모바일 앱/웹 통계를 위해 필요한 기능입니다." />-->

        <!--</activity>-->

        <activity
            android:name="com.rankey.android.acm.launcher.activity.DataSaverWhiteListSettingsActivity"
            android:enabled="true"
            android:exported="false"
            android:label="DataSaverSettings"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="com.rankey.android.acm.launcher.activity.UsageTermsActivity"
            android:enabled="true"
            android:exported="false"
            android:label=" UsageTerms"
            android:theme="@android:style/Theme.Dialog" />

        <!-- ACM service setting end -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f10fc382e04265963b4775a151e677abaae7147e" />
    </application>

</manifest>